In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [5]:
data = pd.read_csv("datasets_2607_4342_indian_liver_patient_labelled.csv")
data.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [6]:
data

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [7]:
df = pd.DataFrame(data)

In [24]:
for col in df.columns:
    df[col] = df[col].fillna(0)

In [25]:
headers = list(df.columns)
headers.remove('Dataset')
headers.remove('Gender')
headers

['Age',
 'Total_Bilirubin',
 'Direct_Bilirubin',
 'Alkaline_Phosphotase',
 'Alamine_Aminotransferase',
 'Aspartate_Aminotransferase',
 'Total_Protiens',
 'Albumin',
 'Albumin_and_Globulin_Ratio']

In [26]:
X = df[headers]
Y = df['Dataset']

In [27]:
linregmodel = linear_model.LinearRegression()
linregmodel.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
print("Inrercept is %f"%(linregmodel.intercept_))

Inrercept is 1.652889

In [31]:
print("Coefficients are", linregmodel.coef_)

Coefficients are [-3.28673469e-03 -1.42320238e-04 -2.31205512e-02 -1.88914415e-04
 -3.91797975e-04  6.15626086e-05 -7.67359635e-02  1.44207956e-01
 -6.41924638e-02]

In [33]:
Y_pred = linregmodel.predict(X)

In [42]:
linregmodel.summary()

AttributeError: 'LinearRegression' object has no attribute 'summary'

In [43]:
print("R2 score is", linregmodel.score(X,Y))

R2 score is 0.11808333306997776